<a href="https://colab.research.google.com/github/Kunal-Datacoder/Python-pdfs/blob/main/Par1stDV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

#sample studet data a list of dictionaries
students = [
    {"id":1 , "name":"Alice" , "age":20 , "marks":85},
    {"id":2 , "name":"Bob" , "age":22 , "marks":78},
    {"id":3 , "name":"Charlie" , "age":21 , "marks":92},
]

#convert to Dataframe
df = pd.DataFrame(students)

#Display the data

print("Original Dataframe: \n", df)

Original Dataframe:
    id     name  age  marks
0   1    Alice   20     85
1   2      Bob   22     78
2   3  Charlie   21     92

In [5]:
#Save Dataframe to CSV
df.to_csv("students.csv" , index=False)

#Read back the CSV file
df_csv = pd.read_csv("students.csv")
print("\n Data loaded from CSV: \n ",df_csv)

 Data loaded from CSV:
     id     name  age  marks
0   1    Alice   20     85
1   2      Bob   22     78
2   3  Charlie   21     92

In [7]:
# Save Dataframe to json file
df.to_json("students.json" , orient="records", indent=4)

#Read JSON back
df_json = pd.read_json("students.json")
print("\n Data loaded from JSON: \n", df_json)

 Data loaded from JSON:
    id     name  age  marks
0   1    Alice   20     85
1   2      Bob   22     78
2   3  Charlie   21     92

In [ ]:
write